<%- include('../partials/header') -%> <%- include('../partials/navbarAdmin') -%>

<div class="container">
  <% chunk.forEach((cars)=> {%>
  <div class="row mt-3 ms">
    <% cars.forEach((car)=> {%>

          <div class="col-sm-6 col-md-4">
            <div class="card text-end">
              <div class="card-body">
                <h5 class="card-title"><%= car.type%></h5>
                <p class="card-text"><%=car.description%></p>
                <p><%= car.location%></p>
                <p>
                  <span class="badge bg-light text-dark"> ريال <%= car.price%> </span>
                </p>
                
              </div>
            </div>
          </div>
          <%})%>
        </div>
        <%})%>
      </div>
    </div>
    
  </div>
</div>
<%- include('../partials/footer')-%>